* {
    outline: none !important;
}
html,
body {
    height: 100%;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555555;
    font-size: 13px;
}
.container {
    max-width: none !important;
    padding: 0 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 18px;
}
a {
    color: #B03C3F;
}
a:hover {
    color: #B03C3F;
}
.info {
    color: #54728c;
}
.warning {
    color: #8a6d3b;
}
.success {
    color: #94b86e;
}
.danger {
    color: #B03C3F;
}
.btn-group > .popover {
    font-size: 13px;
}
.btn-group > .btn {
    font-size: 13px;
}
.btn-group > .btn-lg {
    font-size: 14px;
}
.btn-group > .btn-sm {
    font-size: 12px;
}
.btn-group > .btn-xs {
    font-size: 11px;
}
.btn-group > .btn:first-child,
.btn-group > .btn:last-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.btn-group > .btn i {
    margin-right: 3px;
}
.btn-group > .dropdown-toggle {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.btn-group > .btn + .dropdown-toggle {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn:active,
.btn.active,
.btn-group.open .dropdown-toggle,
.btn-group > .btn + .dropdown-toggle:active {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13) inset;
}
.crumbs {
    margin: 0 -20px;
    height: 40px;
    background: #f9f9f9;
    border-bottom: 1px solid #d9d9d9;
}
.crumbs .breadcrumb {
    float: left;
    background-color: #f9f9f9;
    height: 0;
    margin-top: 1px;
}
.crumbs .breadcrumb li {
    float: left;
    font-size: 12px;
    padding-top: 2px;
    padding-right: 5px;
}
.crumbs .breadcrumb li a {
    color: #555555;
}
.crumbs .breadcrumb li a:hover {
    text-decoration: none;
    color: #B03C3F;
}
.crumbs .breadcrumb li i {
    color: #6f6f6f;
    padding: 0 5px;
}
.crumbs .breadcrumb li.current a {
    color: #949494 !important;
}
.crumbs .crumb-buttons {
    float: right;
    list-style: none;
    margin-right: 21px;
    margin-left: 0;
    height: 0;
}
.crumbs .crumb-buttons > li {
    float: left;
    font-size: 12px;
    border-right: 1px solid #d9d9d9;
    position: relative;
}
.crumbs .crumb-buttons > li:first-child,
.crumbs .crumb-buttons > li.first {
    border-left: 1px solid #d9d9d9;
}
.crumbs .crumb-buttons > li > a {
    color: #555555;
    text-decoration: none;
    white-space: nowrap;
    padding: 0 10px;
    line-height: 39px;
    display: inline-block;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.crumbs .crumb-buttons > li > a:hover {
    background: #fff;
}
.crumbs .crumb-buttons > li > a:active {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background: #ebebeb;
}
.crumbs .crumb-buttons > li > i,
.crumbs .crumb-buttons > li > a > i {
    padding-right: 5px;
}
.crumbs .crumb-buttons > li > i.left-padding,
.crumbs .crumb-buttons > li > a > i.left-padding {
    padding-right: 0;
    padding-left: 5px;
}
.crumbs .crumb-buttons > li.open {
    background: #fff;
}
.breadcrumb > li + li:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f105";
    color: #999 !important;
}
.btn .label {
    position: absolute;
    font-size: 11px !important;
    font-weight: 300;
    top: -5px;
    right: -5px;
    padding: 3px 7px 3px 7px;
    color: white !important;
    text-shadow: none;
    border-width: 0;
    border-style: solid;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.dropup .btn .caret {
    border-bottom-color: #333333;
}
label,
input,
button,
select,
textarea {
    font-size: 13px !important;
}
label {
    font-weight: 600;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    -webkit-appearance: none !important;
    color: #555555;
    padding: 6px 6px !important;
    font-weight: normal;
    vertical-align: top;
    background-color: #ffffff;
    background-image: none !important;
    filter: none !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #B03C3F;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(0, 0, 0, 0.1);
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.form-control {
    height: 32px;
    font-size: 13px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
select.form-control,
textarea.form-control {
    padding: 0 5px;
}
select.form-control:focus,
textarea.form-control:focus {
    border-color: #B03C3F;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(0, 0, 0, 0.1);
}
textarea {
    border-color: #cccccc;
}
textarea.auto {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
}
textarea.col-md-12 {
    resize: vertical;
}
input,
textarea {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
input[type="file"] {
    height: auto;
    line-height: normal;
    margin-top: 5px;
}
.checkbox,
.radio {
    font-weight: normal;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: not-allowed;
    background-color: #f9f9f9;
    color: #adadad;
}
.input-group-addon {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 13px;
    padding: 6px 6px;
    background-color: #f9f9f9;
}
.input-group > .input-group-btn .btn {
    margin-right: -1px;
    margin-left: -1px;
}
.table {
    margin-bottom: 5px;
}
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
    background-color: #fafafa;
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
    background-color: #f5f5f5;
}
.table-bordered,
.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child,
.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child,
.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child,
.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.table-highlight-head thead {
    background-color: #f5f5f5;
}
.table-no-inner-border tr th,
.table-no-inner-border tr td {
    border-left-width: 0px;
}
.table-no-inner-border tr th:first-child,
.table-no-inner-border tr td:first-child {
    border-left-width: 1px !important;
}
.widget-content.no-padding table {
    margin-bottom: 0 !important;
}
.widget-content.no-padding .table-bordered {
    border: 0;
}
.widget-content.no-padding .table-bordered th:first-child,
.widget-content.no-padding .table-bordered td:first-child {
    border-left: 0;
}
.widget-content.no-padding .table-bordered th:last-child,
.widget-content.no-padding .table-bordered td:last-child {
    border-right: 0;
}
.widget-content.no-padding .table-bordered tr:last-child td {
    border-bottom: 0;
}
.table .align-center {
    text-align: center;
}
.table-footer {
    padding: 12px;
}
.table-footer .table-actions label {
    margin-right: 10px;
    display: inline-block;
}
.table-footer .table-actions select {
    width: 180px;
    height: 30px;
    margin-top: -1px;
    margin-bottom: 0;
}
.table-footer .pagination {
    float: right;
    margin: 0;
}
.table-footer:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.widget-content.no-padding .table-footer {
    border-top: 1px solid #dddddd;
    background-color: #f9f9f9;
    padding-left: 0;
    padding-right: 0;
}
.widget:not(.box) .widget-content .table-footer {
    border: 1px solid #dddddd;
    border-top: none;
    margin-top: -5px;
}
.widget.box .widget-content:not(.no-padding) .table-footer {
    border: none;
    background-color: none;
    padding: 8px 0;
    padding-bottom: 3px;
}
.pagination > li > a:hover,
.pagination > li > a{
    color: #B03C3F;
}
.pagination {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #B03C3F;
    border-color: #777777;
}
.table-checkable .checkbox-column {
    text-align: center;
    width: 24px;
}
.table-checkable .checkbox-column div.checker {
    margin-right: 0;
}
.table-checkable.table-no-inner-border .checkbox-column {
    border-right: 1px solid #dddddd;
}
.table-checkable tbody tr.checked td {
    background-color: rgba(147, 175, 236, 0.13);
}
.table-controls {
    padding: 0;
    margin: 0;
    list-style: none;
}
.table-controls > li {
    display: inline-block;
    margin: 0 2px;
    line-height: 1;
}
.table-controls > li > a {
    display: inline-block;
}
.table-controls > li > a i {
    margin: 0;
    font-size: 13px;
    color: #555555;
    display: block;
}
.table-controls > li > a i:hover {
    text-decoration: none;
}
.table-vertical-align tr,
.table-vertical-align th,
.table-vertical-align td {
    vertical-align: middle !important;
}
.modal-content {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom-color: rgba(0, 0, 0, 0.4);
}
.modal-header {
    background-color: #f9f9f9;
}
.modal-header .close {
    margin-top: 5px;
    font-size: 15px !important;
}
.modal-title {
    font-weight: 600;
    font-size: 15px;
    color: #555555;
}
.modal-footer {
    background-color: #f9f9f9;
}
.loading-indicator {
    position: absolute;
    right: 50px;
    top: 10px;
    z-index: 999;
}
.row {
    overflow: hidden;
}
.btn-group-fixed {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
}
.input-group-addon.glyphicon {
    top: 0;
}
.bordered {
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 6px;
    padding: 4px 8px 3px 8px;
}
.row.inherit-overflow {
    overflow: inherit;
}

.navbar-square {
    border-radius: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color:#A6393D;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.panel-danger {
    border-color: #A6393D;
}
.panel-danger > .panel-heading {
    color: #fff;
    background-color: #A6393D;
    border-color: #A6393D;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #A6393D;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #A6393D;
}

.center, .sm-center, .md-center {
    margin: 0 auto;
    float: none;
}

.cover {
    margin: 0 auto;
    background: #242628;
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 0;
}
.center-box {
    max-width: 530px;
    height: 90%;
    margin: 0 auto;
    padding: 0;
    display: table;
}
.accordion .panel
.panel-heading .accordion-button {
    position: relative;
    top: -28px;
    border-radius: 0;
    right: -1px;
    float: right !important;
}
.panel-heading .accordion-icon {
    position: relative;
    top: -20px;
    border-radius: 0;
    right: -1px;
    float: right !important;
    font-size: 20px;
    margin-left: 5px;
}
.select2-container {
    width: 100%;
}
.form-group {
    clear: both;
    padding: 5px;
}
.label {
    margin: 0 1px 0 1px;
}
.navbar-collapse {
    max-height: 0;
}
.bootstrap-datetimepicker-widget.dropdown-menu {
    visibility: initial;
    opacity: inherit;
}
.navbar {
    margin-bottom: 10px;
}
.navbar-form, {
    padding: 0 15px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-form .form-control {
    width: 100%;
}
.tile {
    -webkit-box-shadow: 0px 0px 10px #A6393D;
    -moz-box-shadow: 0px 0px 10px #A6393D;
    box-shadow: 0px 0px 10px #A6393D;
    height: 375px;
}
.margin-sm {
    margin: 2px;
}
.margin-md {
    margin: 5px;
}
.margin-lg {
    margin: 10px;
}
/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #ffffff;
}
