<div ng-controller="DashboardCtrl">
    <div class="col-md-10">
        <!-- Empty space, make it useful -->
    </div>
    <div class="col-md-2">
        <button type="button" role="button" ng-click="loadData()" class="btn btn-danger pull-right margin-lg">
            <i class="glyphicon glyphicon-refresh"></i>
            Refresh All
        </button>
    </div>
    <div class="sortable" data-placeholder="tile col-md-6">
        <div class="col-md-12" ng-repeat="type in types" on-last-repeat>
            <div class="accordion" id="{{type.name}}Accordion">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="{{type.icon}}"></i>
                            {{type.name}}
                        </h4>
                        <div class="accordion-icon" ng-click="toggleAccodion($event)" data-toggle="collapse" data-target="#{{type.name}}Table" data-parent="#{{type.name}}Accordion">
                            <i class="glyphicon glyphicon-collapse-up"></i>
                        </div>
                        <div class="accordion-icon" ng-click="expand($event)" data-type="{{type.name}}">
                            <i class="glyphicon glyphicon-resize-small"></i>
                        </div>
                    </div>
                    <div id="{{type.name}}Table" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-hover ng-datatable">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Owner</th>
                                    <th>{{type.stage_caption}}</th>
                                    <th>{{type.resolution_caption}}</th>
                                    <th ng-if="type.start">{{type.start_caption}}</th>
                                    <th ng-if="type.end">{{type.end_caption}}</th>
                                    <th ng-if="type.due">{{type.due_caption}}</th>
                                    <th ng-if="type.expire">{{type.expire_caption}}</th>
                                    <th ng-if="type.tags">{{type.tags_caption}}</th>
                                    <th ng-if="type.priority">{{type.priority_caption}}</th>
                                    <th ng-if="type.module">{{type.module_caption}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="record in type.records | filter:filterRecords">
                                    <td>{{record.id}}</td>
                                    <td>{{record.title}}</td>
                                    <td>{{record.user.name}}</td>
                                    <td>{{record.stage.name}}</td>
                                    <td>{{record.resolution.name}}</td>
                                    <td ng-if="type.start" ng-bind-html="record.start | localdatetime"></td>
                                    <td ng-if="type.end" ng-bind-html="record.end | localdatetime"></td>
                                    <td ng-if="type.due" ng-bind-html="record.due | localdatetime"></td>
                                    <td ng-if="type.expire" ng-bind-html="record.expire | localdatetime"></td>
                                    <td ng-if="type.tags"><span ng-if="record.tags">{{record.tags | join:', '}}</span></td>
                                    <td ng-if="type.priority">{{record.priority.name}}</td>
                                    <td ng-if="type.module">{{record.module.name}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>